<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
 <center><h1>Word Counter</h1>
<p>welcome to My Word Counter<br>
</p>
  <p></p>
</div>
<div>
<center>
<p>*Note please put your text in given Blocks</p> 
<form action="{% url 'count' %}">
<textarea name="fulltextarea" cols=40 rows=20></textarea><br>
<input type="submit" value="Count!"/>
</form>
<br>
<b>About</b> <a href={% url 'about' %}>Gaurav Shrivastav</a>
</center>
</body>
</html>